@model govnocode.Models.Tag

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="myCanvasContainer">
    <canvas width="900" height="500" id="myCanvas">
        <p>Anything in here will be replaced on browsers that support the canvas element</p>
        <ul>
            @{
                var tags = (List<string>)ViewData["Tags"];
                foreach (var variable in tags)
                {
                    <li><a href="/Tag/?tag=@variable.Replace("#", "%23")">@variable</a></li>
                }
            }

        </ul>
    </canvas>
</div>