@using System.Resources
@using Resources
@{
    ViewBag.Title = @Resources.Resource.ForgotPassTitle2;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
       @Resource.ForgotPassText

    </p>
</div>
	
